<p>edit-recipe form</p>

<div class="row">
  <div class="col-xs-12">




<form [formGroup]="recipeForm" (ngSubmit)="onSubmitRecipe()">

  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-danger" type="button">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
        id="name"
        formControlName="name"
        class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="imagePath">Image Path</label>
        <input type="text"
        id="imagePath"
        formControlName="imagePath"
        class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <img src="" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text"
        id="description"
        formControlName="description"
        rows="6"
        class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 add text-right" >
      <button class="btn btn-success"
      type="button" (click)="onAddIngredient()"
      >add 1 i</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" formArrayName="ingredients" >
      <div class="form-group">
        <div class="row mb-5"
        *ngFor="let ingredientCtrl of controls; let i = index"
        [formGroupName]="i"
        >
          <div class="col-xs-8">
            <div class="form-group">
              <input type="text"
              formControlName="name"
              class="form-control" >
            </div>
          </div>
          <div class="col-xs-2">
            <input type="number"
            formControlName="amount"
            class="form-control"  >
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger"
            type="button"
            >
            <!-- (click)="onAddIngredient()" -->
            X</button>
          </div>
        </div>

      </div>
      <!-- <div class="err-msg">
        <span
        *ngIf="!recipeForm.valid && recipeForm.touched"
        class="help-block">Please enter valid data</span>
      </div> -->
    </div>
  </div>



</form>
</div>
</div>

