<div class="row">
    <div class="col-xs-10">

        <!-- <p #pRef>
            Start editing to see some magic happen :)
          </p> -->
          
        <app-shopping-list-edit
        (outputIngred)="onPushIngred($event)"
        ></app-shopping-list-edit>
        <hr>

        <ul class="list-group">
            <a class="list-group-item" 
            style="cursor: pointer;"
            *ngFor="let ingredient of ingredients"
            >
        {{ ingredient.name }} : ({{ ingredient.amount }})
        </a>
        </ul>

    </div>
</div>
